<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Freshman Experience</title>
</head>
<body>

<img src="../img/UCMO Logo Learning to A greater Degree.png" alt="UCMO Logo Learning to a greater degree">
<h1>Freshman Experience</h1>
<h2>WELCOME TO FRESHMAN EXPERIENCE</h2>
<br>
<h3>        ******NEW AND IMPROVED******    </h3>
<br>
<button onclick="document.location='built/InformationalSessions.html'">Informational Sessions</button>
<button onclick="document.location='built/FacultyLogin.html'">Faculty Login</button>
</body>
</html>