<!DOCTYPE html>
<html lang="en">
<head>
    <title>Financial Assistance</title>
    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>

<div style="background-color: black; text-align:center;" > <img src="../img/UCMO23.png" alt="UCMO Logo"> </div>
<div  style="text-align:center;" >
    <h1>Financial Assistance</h1>
    <p>This session help you navigate the Financial Aid process.</p>
    <label>Presenter:</label><br>
    <label>Date/Time:</label><br>
    <label>Location:</label><br>
</div>
</body>
</html>