<!DOCTYPE html>
<html lang="en">
<head>
    <title>Campus Diversity Session</title>
    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>

<div style="background-color: black; text-align:center;" > <img src="../img/UCMO23.png" alt="UCMO Logo"> </div>
<div  style="text-align:center;" >
    <h1>Campus Diversity</h1>
    <p>This session will....</p>
    <label>Presenter: Dr. Chen</label><br>
    <label>Date/Time: August 14th @ 1:00 p.m.</label><br>
    <label>Location: Union 104</label><br>
</div>
</body>
</html>