<!DOCTYPE html>
<html lang="en">
<head>

    <title>Informational Sessions</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/bundle.js"></script>
</head>
<body style="background-color: #cf202e">
<div style="text-align: center;">
    <img src="../img/Academic-Mark-2-Line-BW.png" alt="UCMO Logo">
</div>
<div style="text-align:center;">
    <h1 >Informational Sessions</h1>
    <p>Please pick which session you would like more information about.</p>
</div>
<!--  button here with link to informational sessions
<a href="InformationalSessions.html" target="_self">Description of Sessions</a>-->
        <div style="text-align:center;">

            <div>
                <button onclick="document.location = '/built/BlackboardSession.html'">Blackboard</button>
                <button onclick="document.location = '/built/InfoFinancialAssistanceSession.html'">Financial Assistance</button>
            </div><br>
            <div style="align-content: center">
                <button onclick="document.location = 'InfoCombatingHomesickness.html'">Combating Homesickness</button>
                <button onclick="document.location = 'InfoGoogleIt.html'">Google It</button>
            </div><br>
            <div>
                <button onclick="document.location = 'InfoStudentEmployment.html'">Student Employment</button>
                <button onclick="document.location = 'InfoStudentOrganizations.html'">Student Organizations</button>
            </div><br>
            <div>
                <button onclick="document.location = 'InfoYourSuccessNetwork.html'">Your Success Network</button>
                <button onclick="document.location = 'InfoTedTalkGrowthMindset.html'">Ted Talk: Growth Mindset</button>
            </div><br>
            <div>
                <button onclick="document.location = 'InfoPublicSafety.html'">Public Safety</button>
                <button onclick="document.location = 'InfoCommunityService.html'">Community Service</button>
            </div><br>
        </div>
</body>
</html>