<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Public Safety Session</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <link rel="stylesheet" href="style.css">-->
</head>
<body>
<div style="background-color: black; text-align: center;"> <img src="../img/UCMO23.png" alt="UCMO Logo"> </div>
<div style="text-align: center;">
    <h1>Public Safety</h1>
    <p>Public Safety is a primary concern on any campus. Learn how to access this crucial service and how to keep yourself safe.</p>
    <label>Presenter: Dr. Park</label><br>
    <label>Date/Time: August 14th @ 1:00 p.m.</label><br>
    <label>Location: Union 102</label><br>
</div>
<!--
<div style="text-align: center;"> <img src="../img/campus-map.png" alt="campus map"> </div>
-->
</body>
</html>