<!DOCTYPE html>
<html lang="es">
<head>
    <title>Combating Homesickness</title>
    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>

<div style="background-color: black; text-align:center;" > <img src="../img/UCMO23.png" alt="UCMO Logo"> </div>
<div style="text-align:center;">
    <h1>Combating Homesickness</h1>
    <p>This session help you combat those feelings of homesickness.</p>
    <label>Presenter: Dr.Kang</label><br>
    <label>Date/Time:</label><br>
    <label>Location: Union 107</label><br>
</div>
</body>
</html>