<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Success Network</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <link rel="stylesheet" href="style.css">-->
</head>
<body>
<div style="background-color: black; text-align: center;"> <img src="../img/UCMO23.png" alt="UCMO Logo"> </div>
<div style="text-align: center;">
    <h1>UNIV 1400"</h1>
    <p>UNIV 1400 is designed to help the first-year student and those in transition to: actively explore critical thinking, develop a sense of belonging to UCM, develop self-awareness of social and civic responsibility, and gain a desire for life long learning.</p>
    <label>Presenter: Dr. Chen</label><br>
    <label>Date/Time:</label><br>
    <label>Location: Union 105</label><br>
</div>
<!--
<div style="text-align: center;"> <img src="../img/campus-map.png" alt="campus map"> </div>
-->
</body>
</html>