<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>Freshman Experience</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script>
        function goBack(){
            window.history.back()
        }
    </script>
</head>
<body style="background-color: #cf202e">
<div style="background-color: black; color: white; padding-right: 20px; text-align:right;">
    Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/logout}" method="POST">
        <input class="btn btn-primary" type="submit" value="Logout"/>
    </form>
    <button onclick="goBack()">Back to Schedule</button>
</div>

<div>
    <div style="background-color: white; padding-left: 500px; padding-right: 500px; text-align:center;"> <img src="../img/Academic-Mark-2-Line-BW.png" alt="UCMO Logo"> </div>
</div>

<tr th:each="sessionTitle : ${sessionTitle}">
<h1  th:text="${sessionTitle}"></h1>




<div style="text-align:center;" >


    <table border="1" cellpadding="10" align="center">

        <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="students : ${listStudents}">
            <td th:text="${students.ucmoid}">Student Id</td>
            <td th:text="${students.getFname()}">First Name</td>
            <td th:text="${students.getLname()}">Last Name</td>
            <td th:text="${students.getEmail()}">Email</td>
        </tr>
        </tbody>
    </table>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">


</body>
</html>