<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>Freshman Experience</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <style>
        .center {
            margin: auto;
            width: 50%;
            border: 3px solid white;
            border-color: white;
            padding: 10px;
        }
    </style>
    <script>
        function goBack(){
            window.history.back()
        }
    </script>
</head>
<body style="background-color: #cf202e">
<div style="background-color: black; color: white; padding-right: 20px; text-align:right;">
        Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <div style="justify-content: left;">
        <button class="btn btn-primary" style="background-color: #cf202e; color:white; border-color: black" onclick="goBack()">Back to Schedule</button>
    </div>
    <form th:action="@{/logout}" method="POST">
        <input class="btn btn-primary" style="background-color: #cf202e; color:white; border-color: black" type="submit" value="Logout"/>
    </form>

</div>

<div>
    <div style="background-color: white; padding-left: 500px; padding-right: 500px; text-align:center;">
        <img style="width: 50%; height: 50%;" src="../img/Academic-Mark-2-Line-BW.png" alt="UCMO Logo">
    </div>
</div>

<div style="text-align:center;" >
<br></br>
<tr th:each="sessionTitle : ${sessionTitle}">
<h1  th:text="${sessionTitle}"></h1>
<br></br>
   <div class="center">
    <table border="1" cellpadding="10" align="center">
        <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="students : ${listStudents}">
            <td th:text="${students.ucmoid}">Student Id</td>
            <td th:text="${students.getFname()}">First Name</td>
            <td th:text="${students.getLname()}">Last Name</td>
            <td th:text="${students.getEmail()}">Email</td>
            <td>
               <a th:href="@{'/editUser/' + ${students.ucmoid}}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
   </div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
</div>
</body>
</html>